/* Botón modo flotante */
.modo-toggle {
  position: fixed;
  top: 15px;
  right: 15px;
  z-index: 999;
}
#modoBtn {
  background: #00ffe0;
  border: none;
  color: black;
  padding: 10px 14px;
  border-radius: 50%;
  font-size: 1.2rem;
  cursor: pointer;
}

/* Footer */
footer {
  margin-top: 3rem;
  text-align: center;
  color: #999;
  font-size: 0.95rem;
}

/* Botones especiales */
.btn-editar, .btn-eliminar {
  padding: 5px 10px;
  border: none;
  border-radius: 6px;
  font-size: 0.95rem;
  cursor: pointer;
}
.btn-editar {
  background-color: #00c8ff;
  color: #000;
}
.btn-eliminar {
  background-color: #ff5e5e;
  color: #fff;
}
.btn-editar:hover {
  background-color: #009fd4;
}
.btn-eliminar:hover {
  background-color: #cc3838;
}

/* Exportar Excel */
.exportar-derecha {
  text-align: right;
  margin-top: 1rem;
}
.boton-exportar {
  background: #ffee00;
  padding: 8px 16px;
  border-radius: 8px;
  color: #000;
  text-decoration: none;
  font-weight: bold;
}
.boton-exportar:hover {
  background: #e0d200;
}
